@import url("https://fonts.googleapis.com/css?family=Alexandria");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Charis%20SIL");

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--theme-primary-font);
  background-color: #06010e;
  user-select: none;
  -webkit-user-select: none;
}

::-webkit-scrollbar {
  width: 7px;
  transition: 0.3s;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #343468;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #49497d;
}

* {
  box-sizing: border-box;
  font-family: var(--theme-primary-font);
}

:root {
  --theme-primary-font: Charis SIL, Helvetica, Arial, sans-serif;
  --theme-secondary-font: Alice, Helvetica, Arial, sans-serif;
  --theme-dark: #242424;
  --theme-white: #ffffffde;
  --theme-white-para: #bebebe;
  line-height: 1.5;
  font-weight: 400;
}

::placeholder {
  color: #bebebe;
}

#root {
  position: relative;
}

.app {
  position: relative;
  overflow-y: auto;
}

img {
  -webkit-user-drag: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-h {
  height: 100%;
}

.full-w {
  width: 100%;
}

.full-hw {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  width: fit-content;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.w-90 {
  width: 90%;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

nav {
  width: 100%;
  padding: 0 15px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-a {
    height: 55%;
  }

  img {
    height: 100%;
  }

  button {
    border-radius: 24px;
    padding: 8px 19px;
    font-size: 13px;
    font-weight: bold;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--theme-white);
  color: var(--theme-dark);
  cursor: pointer;
  transition: 0.25s;
}

button:hover {
  border-color: var(--theme-dark);
  background-color: var(--theme-dark);
  color: var(--theme-white);
}

.help-btn {
  padding: 0.6em;
}

.help-btn img {
  width: 20px;
  transition: 0.3s;
}

.help-btn:hover img {
  filter: invert(1);
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.footer-title {
    font-family: Montserrat;
    margin: 30px 0 20px 0;
    font-size: 13px;
    font-weight: bold;
    color: #797990;
    a {
      font-family: Montserrat;
      color: #8c55bd;
      margin-left: 5px;
    }
}